<nav aria-label="You are here:" class="breadcrumb-container" role="navigation">
  <ul class="breadcrumbs">
    <li>
      <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    </li>
    <li>
      <a
        [routerLink]="['/used-equipment']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="disabled"
      >
        <span class="show-for-sr">Current: </span> Used Equipment
      </a>
    </li>
  </ul>
</nav>
<div class="grid-container">
  <div class="grid-x banner shadow grid-margin-x align-center-middle">
    <div class="cell">
      <h2 class="text-uppercase text-center ">Used Ham Radio Equipment</h2>
    </div>
  </div>
  <div class="grid-x grid-margin-y grid-margin-x small-up-1 medium-up-3 large-up-5 align-stretch-spaced content ">
    <div class="cell" *ngFor="let category of categories">
      <!-- image has padding -->
      <a [routerLink]="['/used-equipment', link(category.text)]" routerLinkActive="active">
        <div class="grid-y card height-100 radius bordered shadow align-center">
          <div class="cell small-auto width-100 card-section">
            <img [src]="category.src" [alt]="category.alt" />
          </div>
          <div class="cell small-shrink width-100 card-section text">
            <p class="text-uppercase text-center align-self-middle font-bold">{{ category.text }}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
