rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    match /PayPalSecrets/APIKeys {
      allow read;
    }
    match /messages/{document} {
    	allow write;
      allow read, update, delete: if false;
    }
    match /products/{document} {
    	allow read;
      allow write, update: if request.auth.uid != null;
      allow delete: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin;
    }
    match /manufacturers/{document} {
    	allow read;
      allow write, update: if request.auth.uid != null;
      allow delete: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin;
    }
    match /links/{document} {
    	allow read;
      allow write,update, delete: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin;
    }
    match /users/{userId} {
      allow read;
      allow write, update, delete: if request.auth.uid == userId || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin;
      match /orders/{orderId} {
      	allow read: if request.auth.uid != null;
        allow write: if request.auth.uid == userId;
        allow update, delete: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin;
      }
    }
    match /users/adminList {
      allow read: if request.auth.uid != null;
      allow write, update, delete: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin;
    }
  }
}
