@import '../../../node_modules/foundation-sites/scss/foundation.scss';
@include foundation-prototype-classes;
$accent: #f56356;
.top-nav.top-bar {
  padding: .5em;

  background-color: white;
  button {
    margin-top: 10px;
  }
  #logo {
    place-self: stretch;
    a {
      display: grid;
      width: 100%;
      height: 100%;

      place-self: stretch;
      img {
        width: auto;
        height: rem-calc(100px);

        place-self: center;
      }
    }
  }
}
.logotype {
  color: black;
  font-size: 5vw;
}
// for vertical navbar
.title-bar, .top-bar {
  padding: 0;

  > div.cell > ul.menu {
    background-color: #f5f5f5;

    place-items: center;
    > li {
      place-self: stretch;
      // menu for small to medium screens
      > a {
        color: #000;

        border-top: .125rem solid transparent;
        &:not([type='button']) {
          display: grid;
          height: 100% !important;

          place-self: stretch;
        }
        span {
          place-self: center;
        }
        // for vertical menu icon
        .menu-icon::after {
          background-color: #000;
          box-shadow: 0 rem-calc(7px) 0 #000, 0 rem-calc(14px) 0 #000;
        }
        .title-bar-title {
          color: #000;
          font-weight: 500;
        }
        &:hover, &.active {
          background-color: #fff;
          border-top: .125rem solid #f56356;
        }
        &.active, &:hover.active {
          font-weight: 500;
        }
        &::after {
          border-color: black transparent transparent;
        }
      }
      // dropdown / accordion
      > ul.menu {
        z-index: 100;

        background-color: #f5f5f5;
        &.simple-float {
          grid-auto-flow: dense;
          grid-template-areas: '. .';
          width: auto;
          min-width: 200px;
          &.js-dropdown-active {
            display: grid;
          }
          li {
            display: grid;
            width: 200px;

            a {
              display: grid;
            }
          }
        }
        > li {
          > a {
            color: #000;
            text-transform: capitalize;

            border-top: .125rem solid #e4e4e4;
            border-bottom: .125rem solid transparent;
            &:hover, &.active {
              background-color: #fff;
            }
            &:hover, &:hover.active {
              border-top: .125rem solid #f56356;
              border-bottom: .125rem solid #f56356;
            }
            &.active {
              font-weight: 500;

              border-top: .125rem solid #e4e4e4;
              border-bottom: .125rem solid transparent;
            }
            &::after {
              border-color: transparent transparent transparent;
            }
          }
        }
      }
    }
  }
  &:hover {
    > div.vertical-routes.cell > ul.menu > li > a {
      background-color: inherit;
      border-top: .125rem solid transparent;

      cursor: pointer;
      .menu-icon::after {
        background-color: $accent;
        box-shadow: 0 rem-calc(7px) 0 $accent, 0 rem-calc(14px) 0 $accent;
      }
      .title-bar-title {
        color: $accent;
      }
    }
  }
}
