<div id="logo">
  <div class="logo">
    <a [routerLink]="['/']"
       routerLinkActive="active">
      <p>*logo will be here*</p>
    </a>
  </div>
  <div class="link">
    <a href="mailto:myradioworld@gmail.com">myradioworld@gmail.com</a>
  </div>
  <div class="response"><b>Response in 2 hours</b></div>
</div>
<div id="contact">
  <div class="number"><b>Phone number: 089-9822017</b></div>
  <div class="weekdays">
    Monday - Friday: 9:00am - 5:00pm
  </div>

  <div class="weekends">
    Saturday: 9:30am - 4:00pm
  </div>

</div>
<div id="shopping">
  <div></div>
  <div class="basket">My Basket: {{"€0.00"}}</div>
  <div class="currency">Currency:{{"EUR"}} </div>
  <div class="wishlist">{{"♥"}}&nbsp;<b>Wishlist</b></div>
  <div class="cart">
    <p>cart</p>
  </div>
</div>
<div id="navbar">
  <div class="links">
    <a [routerLink]="['/shop-now']"
       routerLinkActive="active">Shop Now</a>
    <a [routerLink]="['/used-equipment']"
       routerLinkActive="active">Used Equipment</a>
    <a [routerLink]="['/shop-by-manufacturer']"
       routerLinkActive="active">Shop By Manufacturer</a>
    <a [routerLink]="['/new-in']"
       routerLinkActive="active">New In</a>
    <a [routerLink]="['/part-ex']"
       routerLinkActive="active">Part Ex</a>
    <a [routerLink]="['/register']"
       routerLinkActive="active">Register</a>
    <a [routerLink]="['/login']"
       routerLinkActive="active">Login</a>
    <a [routerLink]="['/contact']"
       routerLinkActive="active">Contact</a>
  </div>

</div>
