@import '../../../../node_modules/foundation-sites/scss/foundation.scss';
@include foundation-prototype-classes;
.grid-container {
  .banner {
    padding: 20px 10px;
    margin: 20px 4vw;

    color: white;

    background-color: #00a5cb;

    h2 {
      font-weight: bold;
    }
  }
  .content {
    margin: 20px 0;
    .cell > a > .card {
      background-color: white;
      &:hover {
        cursor: pointer;
        .card-section.text {
          color: white;

          background-color: #00a5cb;
        }
      }
      .card-section {
        display: grid;
        img {
          width: auto;
          height: 100px;
          margin: 0 auto;
        }
      }
    }
  }
}
