<div class="grid-container fluid">
  <ul class="breadcrumbs">
    <li><a [routerLink]="['/']" routerLinkActive="active">Home</a></li>
    <li><a [routerLink]="['/used-equipment']" routerLinkActive="active">Used Equipment</a></li>
    <li><span class="show-for-sr">Current: </span> {{ category.banner }}</li>
  </ul>
  <div class="grid-x banner shadow grid-margin-x align-center-middle">
    <div class="cell">
      <h2 class="text-uppercase text-center ">{{ category.banner }}</h2>
    </div>
  </div>
</div>
