<div class="grid-container">
  <div class="grid-x banner shadow grid-margin-x align-center-middle">
    <div class="cell">
      <h2 class="text-uppercase text-center">Account Login</h2>
    </div>
  </div>
  <div class="grid-x grid-padding-x grid-margin-x align-center-middle">
    <div class="cell small-12 large-10 form-container margin-top-1">
      <h5 class="text-uppercase font-bolder margin-top-1">You can login to your account below:</h5>
      <form class="margin-top-1" [formGroup]="form" (ngSubmit)="authService.signIn(this.form.value)">
        <div class="grid-container fluid">
          <div class="grid-x">
            <div class="small-12 cell">
              <label
                >Email Address:
                <input type="email" placeholder="Email Address..." formControlName="email" autocomplete="on" required />
              </label>
            </div>
            <div class="small-12 cell">
              <label
                >Password:
                <input
                  type="password"
                  placeholder="Password..."
                  formControlName="password"
                  autocomplete="on"
                  required
                />
              </label>
            </div>
            <div class="small-12 cell" *ngIf="authService.error">
              <p class="text-accent text-center">{{ authService.error }}</p>
            </div>
            <div class="small-12 cell">
              <button class="button shadow bordered  text-uppercase" type="submit" [disabled]="form.invalid">
                Login
              </button>
            </div>
            <div class="small-12 cell margin-bottom-1">
              <a class="button clear" type="button" (click)="reset = !reset">
                Can't remember your password?
              </a>
              <form #f="ngForm" (ngSubmit)="authService.resetPassword(f)" novalidate *ngIf="reset">
                <label for="email"
                  >Forgotten Email Address:<input
                    type="email"
                    name="email"
                    id="email"
                    email
                    ngModel
                    required
                    #email="ngModel"
                /></label>
                <button type="submit" class="button  text-uppercase" [disabled]="!f.valid">
                  Reset Password
                </button>
              </form>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
