<div class="grid-container">
  <div class="grid-x banner shadow grid-margin-x align-center-middle">
    <div class="cell">
      <h2 class="text-uppercase text-center ">Privacy Policy</h2>
    </div>
  </div>
  <div class="cell small-12 ">
    <div class="grid-x">
      <div class="cell small-12" id="privacy-policy">
        <h2 class="text-uppercase">
          <span class="height-100">Disclaimer of Liability</span>
        </h2>
      </div>
      <div class="cell small-12">
        <p class="lead">
          The material and information contained on this website is for general information purposes only. You should
          not rely upon the material or information on the website as a basis for making any business, legal or any
          other decisions.
        </p>
        <p>
          Whilst we endeavor to keep the information up to date and correct, CQCQCQDX Radio makes no representations or
          warranties of any kind, express or implied about the completeness, accuracy reliability, suitability or
          availability with respect to the website or the information, products, services or related graphics contained
          on the website or the information, purpose. Any reliance you place on such material is therefore strictly at
          your own risk.
        </p>
      </div>
    </div>
  </div>
</div>
