<div class="grid-y tabs-panel" id="addManufacturer">
  <div class="cell small-12 large-10 form-container margin-top-1 margin-bottom-1">
    <h5 class="text-uppercase font-bolder margin-top-1">
      You can add a manufacturer by filling out the form below
    </h5>
    <form
      [formGroup]="accountService.manufacturerForm"
      (ngSubmit)="
        accountService.addManufacturer(
          accountService.manufacturerForm.value,
          accountService.uploadsToImages(accountService.uploads)
        );
        accountService.manufacturerForm.reset()
      "
      class="margin-top-1"
    >
      <div class="grid-container fluid">
        <div class="grid-x grid-margin-x">
          <div class="small-12 cell">
            <label
              >Name:
              <input
                type="text"
                placeholder="Manufacturer Name..."
                formControlName="name"
                required
                autocomplete="off"
                class="margin-bottom-0"
              />
              <div *ngIf="accountService.manufacturerForm.get('name').errors?.duplicateEntry">
                <span class="text-red">This Manufacturer already exists! Enter a different one...</span>
              </div>
            </label>
            <br />
          </div>
          <div class="small-shrink shrink cell margin-right-0">
            <label for="imgUpload" class="text-uppercase button prefix inputfilewrapper margin-bottom-0 height-100"
              >Upload an Image <i class="fi fi-photo"></i>
              <input id="imgUpload" type="file" class="inputfile " accept="image/*" formControlName="images" />
            </label>
          </div>
          <div class="small-auto auto cell margin-left-0">
            <input type="text" class="inputfile-name height-100 margin-bottom-0 no-input" disabled />
          </div>
          <div class="small-12 cell" *ngFor="let upload of accountService.uploads">
            <!-- <p><b>Progress:</b> {{ upload.percentage | async }}%</!-->
            <div
              class="progress margin-bottom-0"
              role="progressbar"
              tabindex="0"
              attr.aria-valuenow="{{ upload.percentage | async }}"
              aria-valuemin="0"
              attr.aria-valuetext="{{ upload.percentage | async }} percent"
              aria-valuemax="100"
              id="imageProgress"
            >
              <span class="progress-meter" [style.width]="(upload.percentage | async | number: '1.0-0') + '%'">
                <span class="progress-meter-text">{{ upload.percentage | async | number: '1.0-0' }}</span>
              </span>
            </div>
          </div>
          <ng-container *ngIf="accountService.uploads">
            <div
              class="cell small-12 align-middle text-center"
              *ngFor="let upload of accountService.uploads; let index = index"
            >
              <img
                [defaultImage]="accountService.defaultImage"
                [lazyLoad]="upload.url"
                [alt]="upload.fileName"
                height="300px"
              />
            </div>
          </ng-container>
          <div class="small-12 cell margin-top-1 margin-bottom-1">
            <button
              class="button  shadow bordered text-uppercase"
              type="submit"
              [disabled]="accountService.manufacturerForm.invalid"
            >
              Add Manufacturer
            </button>
          </div>
        </div>
      </div>
    </form>
    <div class="grid-x grid-margin-y grid-margin-x small-up-1 medium-up-2 large-up-4 align-stretch-spaced content ">
      <h5 class="text-uppercase font-bolder margin-top-1">
        You can <span *ngIf="this.authService.currentUserDoc.admin">remove a manufacturer or</span> change the
        manufacturer image by clicking either of the icons
      </h5>
      <div class="cell" *ngFor="let category of categoryService.manufacturers">
        <!-- image has padding -->

        <div class="grid-y card height-100 bordered shadow align-center">
          <div class="cell small-auto width-100 card-section align-middle">
            <img
              [lazyLoad]="category.src === '' ? '../../assets/img/No_image_available.svg' : category.src"
              [defaultImage]="accountService.defaultImage"
              [alt]="category.alt"
            />
            <div class="grid-x position-absolute height-100 width-100">
              <div
                class="cell align-middle text-center action-buttons"
                [ngClass]="{
                  'small-6': this.authService.currentUserDoc.admin,
                  'small-12': !this.authService.currentUserDoc.admin
                }"
              >
                <span class="grid-x align-center-middle height-100 width-100">
                  <label for="imgUpdate" class="inputfilewrapper"
                    ><i class="fi fi-photo"></i>
                    <input
                      id="imgUpdate"
                      [name]="category.text"
                      type="file"
                      class="inputfile height-100"
                      [ngClass]="{
                        'width-100': !this.authService.currentUserDoc.admin,
                        'width-50': this.authService.currentUserDoc.admin
                      }"
                      accept="image/*"
                    />
                  </label>
                </span>
              </div>
              <div
                *ngIf="this.authService.currentUserDoc.admin"
                class="cell small-6 align-middle text-center action-buttons"
                (click)="accountService.removeManufacturer(category.text)"
              >
                <span class="grid-x align-center-middle height-100 width-100"><i class="fi fi-trash"></i></span>
              </div>
            </div>
          </div>
          <a
            [routerLink]="['/shop-by-manufacturer', categoryService.linkUsed(category.text)]"
            routerLinkActive="active"
          >
            <div class="cell small-shrink width-100 card-section text">
              <p class="text-uppercase text-center align-self-middle font-bold">{{ category.text }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <ng-container *ngIf="categoryService.manufacturers.length == 0">
      <h1 class="font-bold text-accent text-uppercase text-center">
        No manufacturers available
      </h1>
    </ng-container>
  </div>
</div>
