<div class="grid-y tabs-panel" id="viewAllOrders">
  <div class="cell small-10 table-scroll">
    <table class="shadow unstriped">
      <thead>
        <tr class="shadow">
          <th class="text-uppercase">Order ID</th>
          <th class="text-uppercase">Order Date</th>
          <th class="text-uppercase">Delivery Address</th>
          <th class="text-uppercase">Total</th>
          <th class="text-uppercase">Status</th>
          <th></th>
          <th *ngIf="authService.currentUserDoc.admin"></th>
        </tr>
      </thead>
      <tbody>
        <!-- Displays an array of orders for each user  -->
        <ng-container *ngFor="let allOrders$ of accountService.allOrders">
          <!-- Displays the array of orders -->
          <ng-container *ngFor="let allOrder of allOrders$ | async">
            <tr>
              <!-- Order ID -->
              <td>{{ allOrder.order_id }}</td>
              <!-- Order Date -->
              <td>{{ allOrder.order_date.toMillis() | date: 'yyyy/MM/dd h:mm:ss a' }}</td>
              <!-- Delivery Address -->
              <td>{{ accountService.addressFormatter(allOrder.delivery_address) }}</td>
              <!-- Total -->
              <td>{{ allOrder.total | currency: 'EUR' }}</td>
              <!-- Status -->
              <td>
                <label *ngIf="authService.currentUserDoc.admin; else statusView">
                  <select
                    id="{{ allOrder.order_id }}"
                    name="status"
                    (change)="accountService.updateOrderStatus($event)"
                  >
                    <option value="Pending" [selected]="allOrder.status === 'Pending'">Pending</option>
                    <option value="Sold" [selected]="allOrder.status === 'Sold'">Sold</option>
                  </select>
                </label>
                <ng-template #statusView>
                  {{ allOrder.status }}
                </ng-template>
              </td>
              <!-- Show Order -->
              <td class="text-center">
                <button
                  class="button text-center margin-bottom-0 "
                  (click)="accountService.showOrder(allOrder.product_ids, allOrder.order_id)"
                  type="button"
                >
                  <!-- Screen readers will see "open" -->
                  <span class="show-for-sr">Open Basket</span>
                  <!-- Visual users will see the Basket Icon, but not the "Open" text -->
                  <span aria-hidden="true"><i class="fi fi-shopping-cart"></i></span>
                </button>
              </td>
              <td class="text-center" *ngIf="authService.currentUserDoc.admin">
                <button
                  class="button text-center margin-bottom-0 "
                  (click)="accountService.deleteOrder(allOrder.user_uid, allOrder.order_uid)"
                  type="button"
                >
                  <!-- Screen readers will see "close" -->
                  <span class="show-for-sr">Close</span>
                  <!-- Visual users will see the X, but not the "Close" text -->
                  <span aria-hidden="true"><i class="fi fi-trash"></i></span>
                </button>
              </td>
            </tr>
            <!-- Show ordered Products -->
            <ng-container *ngIf="accountService.currOrderId === allOrder.order_id">
              <tr
                *ngFor="let products of accountService.products$; let index"
                [class]="'allOrder-' + allOrder.order_id"
              >
                <!-- Displays products in this order if they exist -->
                <ng-container *ngIf="products | async; let products$; else: productDoesNotExist">
                  <ng-container *ngIf="products$.length; else productDoesNotExist">
                    <td colspan="2" class="width-25">
                      <ng-container *ngFor="let product of products$">
                        <img
                          [lazyLoad]="
                            product.images[0] === '' ? '../../assets/img/No_image_available.svg' : product.images[0]
                          "
                          [defaultImage]="defaultImage"
                          [alt]="product.name"
                        />
                      </ng-container>
                    </td>
                    <td colspan="3">
                      <ng-container *ngFor="let product of products$">
                        <p><span class="font-bold">Name:</span> {{ product.name | titlecase }}</p>
                        <p><span class="font-bold">Brand:</span> {{ product.manufacturer | titlecase }}</p>
                        <p><span class="font-bold">Price:</span> {{ product.price | currency: 'EUR' }}</p>
                      </ng-container>
                    </td>
                    <td class="text-center" colspan="1">
                      <ng-container *ngFor="let product of products$">
                        <a
                          [routerLink]="['/product', product.id]"
                          class="button text-center margin-bottom-0 hollow"
                          (click)="accountService.showOrder(allOrder.product_ids, allOrder.order_id)"
                          type="button"
                        >
                          <!-- Screen readers will see "close" -->
                          <span class="show-for-sr">Close</span>
                          <!-- Visual users will see the X, but not the "Close" text -->
                          <span aria-hidden="true" class="font-bold"><i class="fi fi-eye text-accent"></i></span
                        ></a>
                      </ng-container>
                    </td>
                  </ng-container>
                </ng-container>
                <!-- Otherwise say they don't exist -->
                <ng-template #productDoesNotExist>
                  <td colspan="7">
                    <h3 class="font-bold text-accent text-center text-uppercase">
                      This product no longer exists
                    </h3>
                  </td>
                </ng-template>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="accountService.noOrders">
          <tr>
            <td colspan="7">
              <h3 class="font-bold text-accent text-center text-uppercase">
                There are no orders
              </h3>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
