<div class="grid-container">
  <div class="grid-x grid-padding-x">
    <ng-container *ngFor="let product of products$ | async">
      <div class="cell small-6">
        <div class="grid-x grid-margin-y grid-margin-x align-center-middle content">
          <div class="cell small-12">
            <img
              [lazyLoad]="product.images[0] === '' ? '../../assets/img/No_image_available.svg' : product.images[0]"
              [defaultImage]="defaultImage"
              [alt]="product.name"
            />
          </div>
          <!-- <div class="cell small-12">
            <div id="radio-orbit" class="orbit" role="region" aria-label="Radio Equipment" data-orbit>
              <div class="orbit-wrapper">
                <div class="orbit-controls">
                  <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                  <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                </div>
                <div class="slick-carousel height-25"></div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <div class="cell small-6">
        <div class="grid-x">
          <div class="cell small-12">
            <h2 class="font-bolder text-accent text-uppercase margin-bottom-0">
              {{ product.manufacturer }}
            </h2>
          </div>
          <div class="cell small-12">
            <h2 class="font-bolder text-uppercase margin-bottom-1">
              {{ product.name }}
            </h2>
          </div>
          <br />
          <div class="cell small-12">
            <h3 class="font-bold text-accent text-uppercase margin-bottom-0">
              Price: {{ product.price | currency: 'EUR' }}
            </h3>
          </div>
          <div class="cell small-12">
            <h4 class="font-bold text-uppercase">
              Stock: {{ (product.stock | number) != '0' ? (product.stock | number) : 'Out of Stock' }}
            </h4>
          </div>
          <div class="cell small-12 margin-top-3">
            <div class="grid-x align-right align-middle">
              <div class="shrink cell">
                <label for="quantity-label" class="font-bold text-uppercase">Quantity &nbsp;</label>
              </div>
              <div class="shrink cell">
                <input
                  type="number"
                  class="margin-bottom-0"
                  id="quantity-label"
                  [value]="quantity"
                  [max]="product.stock | number"
                  [(ngModel)]="quantity"
                />
              </div>
            </div>
          </div>
          <div class="cell small-12 margin-top-1">
            <div class="button-group align-right align-middle">
              <button
                class="button  font-bold"
                (click)="productService.addItemToCart(product, quantity)"
                [disabled]="quantity < 1 || quantity > product.stock"
              >
                ADD TO CART
              </button>
              <button
                class="button  font-bold"
                (click)="productService.removeItemFromCart(product)"
                [disabled]="this.productService.cart.length === 0"
              >
                REMOVE FROM CART
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="cell small-12 margin-vertical-1">
        <p class="h3 font-bold text-white black padding-left-1 text-uppercase margin-bottom-1">
          Description
        </p>
        <p class="margin-bottom-0"><b>Category:</b> {{ product.category | titlecase }}</p>
        <p class="margin-bottom-1"><b>Condition:</b> {{ product.condition }}</p>
        <p>{{ product.description }}</p>
      </div>
      <div class="cell small-12 margin-vertical-1">
        <p class="h3 font-bold text-white black padding-left-1 text-uppercase margin-bottom-1">
          Reviews
        </p>
        <div *ngFor="let rating of product.rating">
          <p class="clearfix align-middle margin-bottom-0">
            <span class="h4 font-bold float-left margin-bottom-0">{{ rating.name }}</span>
            <span class="h6 float-right margin-bottom-0">{{ rating.date.seconds * 1000 | date: 'short' }}</span>
          </p>
          <span><i class="fi fi-star text-accent" *ngFor="let item of arrNum(rating.stars)">&nbsp;</i></span>
          <p>{{ rating.review }}</p>
          <hr />
        </div>
      </div>
    </ng-container>
  </div>
</div>
