<div class="grid-y tabs-panel" id="addProduct">
  <div class="cell small-12 large-10 form-container margin-top-1 margin-bottom-1">
    <h5 class="text-uppercase font-bolder margin-top-1">
      You can add a product by filling out the form below:
    </h5>
    <form
      class="margin-top-1"
      [formGroup]="accountService.productForm"
      (ngSubmit)="productService.addProduct(accountService.productForm.value)"
    >
      <div class="grid-container fluid">
        <div class="grid-x grid-margin-x">
          <div class="small-12 cell">
            <label
              >Name:
              <input type="text" placeholder="Name..." formControlName="name" required autocomplete="off" />
            </label>
          </div>
          <div class="small-12 cell">
            <label
              >Manufacturer:
              <select formControlName="manufacturer" required autocomplete="off">
                <option *ngFor="let manufacturer of accountService.manufacturers" [value]="manufacturer.text">
                  {{ manufacturer.text | titlecase }}
                </option>
              </select>
            </label>
          </div>

          <div class="small-12 medium-6 cell">
            <label>Price: </label>
            <div class="input-group">
              <span class="input-group-label">&euro;</span>
              <input
                class="input-group-field"
                type="number"
                min="0.00"
                value="0.00"
                step=".01"
                formControlName="price"
                required
                autocomplete="off"
              />
            </div>
          </div>
          <div class="small-12 medium-6 cell">
            <label
              >Stock:
              <input type="number" min="1" value="1" formControlName="stock" required autocomplete="off" />
            </label>
          </div>
          <div class="small-12 cell">
            <label
              >Condition:
              <select formControlName="condition" required autocomplete="off">
                <option value="New">New</option>
                <option value="Renewed">Renewed</option>
                <option value="Used - Open Box">Used - Open Box</option>
                <option value="Used - Very Good">Used - Very Good</option>
                <option value="Used - Good">Used - Good</option>
                <option value="Used - Acceptable">Used - Acceptable</option>
              </select>
            </label>
          </div>
          <div class="small-12 cell">
            <label
              >Category:
              <select formControlName="category" required autocomplete="off">
                <option *ngFor="let category of accountService.categories" [value]="category.text | lowercase">
                  {{ category.text | titlecase }}
                </option>
              </select>
            </label>
          </div>
          <div class="small-12 cell">
            <label
              >Description:
              <textarea
                placeholder="Description..."
                formControlName="description"
                autocomplete="off"
                required
              ></textarea>
            </label>
          </div>
          <div class="small-shrink shrink cell margin-right-0">
            <label
              for="imgUpload"
              class="shadow text-uppercase button prefix inputfilewrapper margin-bottom-0 height-100"
              multiple="true"
              >Upload an Image <i class="fi fi-photo"></i>
              <input
                id="imgUpload"
                type="file"
                multiple="true"
                class="inputfile "
                accept="image/*"
                formControlName="images"
              />
            </label>
          </div>
          <div class="small-auto auto cell margin-left-0">
            <input type="text" class="inputfile-name height-100 margin-bottom-0 no-input" disabled />
          </div>
          <div class="small-12 cell" *ngFor="let upload of accountService.uploads">
            <!-- <p><b>Progress:</b> {{ upload.percentage | async }}%</!-->
            <div
              class="progress margin-bottom-0"
              role="progressbar"
              tabindex="0"
              attr.aria-valuenow="{{ upload.percentage | async }}"
              aria-valuemin="0"
              attr.aria-valuetext="{{ upload.percentage | async }} percent"
              aria-valuemax="100"
              id="imageProgress"
            >
              <span class="progress-meter" [style.width]="(upload.percentage | async | number: '1.0-0') + '%'">
                <span class="progress-meter-text">{{ upload.percentage | async | number: '1.0-0' }}</span>
              </span>
            </div>
          </div>
          <ng-container *ngIf="accountService.uploads">
            <div
              class="cell small-12 align-middle text-center"
              *ngFor="let upload of accountService.uploads; let index = index"
            >
              <img
                [defaultImage]="accountService.defaultImage"
                [lazyLoad]="upload.url"
                [alt]="upload.fileName"
                height="300px"
              />
            </div>
          </ng-container>

          <div class="small-12 cell margin-top-1 margin-bottom-1">
            <button
              class="button  shadow bordered text-uppercase"
              type="submit"
              [disabled]="accountService.productForm.invalid"
            >
              Add Product
            </button>
          </div>
        </div>
      </div>
    </form>
    <div class="grid-x grid-margin-y grid-margin-x small-up-1 medium-up-2 large-up-4 align-stretch-spaced content ">
      <h5 class="text-uppercase font-bolder margin-top-1">
        You can remove a product or change the product image by clicking either of the icons
      </h5>
      <div class="cell" *ngFor="let product of categoryService.products">
        <!-- image has padding -->

        <div class="grid-y card height-100 bordered shadow align-center">
          <div class="cell small-auto width-100 card-section align-middle">
            <img
              [lazyLoad]="product.src === '' ? '../../assets/img/No_image_available.svg' : product.src"
              [defaultImage]="accountService.defaultImage"
              [alt]="product.alt"
            />
            <div class="grid-x position-absolute height-100 width-100">
              <div class="cell small-6 align-middle text-center action-buttons">
                <span class="grid-x align-center-middle height-100 width-100">
                  <label for="imgUpdate" class="inputfilewrapper"
                    ><i class="fi fi-photo"></i>
                    <input
                      id="imgUpdate"
                      [name]="product.text"
                      type="file"
                      class="inputfile height-100 width-50"
                      accept="image/*"
                    />
                  </label>
                </span>
              </div>
              <div
                class="cell small-6 align-middle text-center action-buttons"
                (click)="productService.removeProduct(product.id)"
              >
                <span class="grid-x align-center-middle height-100 width-100"><i class="fi fi-trash"></i></span>
              </div>
            </div>
          </div>
          <a [routerLink]="['/shop-by-manufacturer', categoryService.linkUsed(product.text)]" routerLinkActive="active">
            <div class="cell small-shrink width-100 card-section text">
              <p class="text-uppercase text-center align-self-middle font-bold">{{ product.text }}</p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <ng-container *ngIf="categoryService.products.length == 0">
      <h1 class="font-bold text-accent text-uppercase text-center">No Products Available</h1>
    </ng-container>
  </div>
</div>
