img {
  max-height: 300px;
}
.action-buttons {
  z-index: 100;

  background: rgba(0, 0, 0, .5);

  transition: background linear .1s;

  &:hover {
    background: rgba(0, 0, 0, .75);

    cursor: pointer;
  }
  i {
    font-size: 250%;
  }
  &:focus, &:active {
    background: rgba(0, 0, 0, 1);
  }
}
.has-tip {
  display: inherit;

  border: inherit;

  cursor: pointer;
}
