/* You can add global styles to this file, and also import other style files */
@import '../node_modules/foundation-sites/assets/foundation';
@import '../node_modules/foundation-sites/scss/foundation.scss';
@import '../node_modules/motion-ui/motion-ui.scss';
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }
  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}
html, body {
  background: #e7edeb;
  main {
    min-height: 100vh;
  }
}
