// Import Custom Variables, Foundation Core, ngx-foundation styles, and Global Custom App Styles
// --------------------------------------------------------

// Global Variable Overrides
// @import './assets/scss/settings';
$foundation-palette: (
  primary: #f56356,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37
);
$button-color: #fff;

// Import Foundation for Sites
@import '~foundation-sites/scss/foundation';

// ---- Global styles ----
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// ---- Grids (choose one) ----
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Comment out the Foundation Components that you're not using!!!!!!!!!!!!!!!!!!!

// ---- Generic components ----
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-switch;
@include foundation-table;

// ---- Basic components ----
// @include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
// @include foundation-pagination;
@include foundation-tooltip;

// ---- Containers ----
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
// @include foundation-thumbnail;

// ---- Menu-based containers ----
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
// @include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// ---- Layout components ----
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// ---- Helpers ----
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
@include foundation-prototype-classes;

// Motion UI Sass Library
@import '~motion-ui/src/motion-ui';
@include motion-ui-transitions;
@include motion-ui-animations;
$slick-font-path: '~slick-carousel/slick/fonts/';
$slick-loader-path: '~slick-carousel/slick/';
@import '~slick-carousel/slick/slick', '~slick-carousel/slick/slick-theme';
$accent: #f56356;
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

@include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

@import '../node_modules/@icon/foundation-icons/foundation-icons.css';

html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
  'Helvetica Neue', sans-serif;

  background: #fff;
  main {
    min-height: 100vh;
  }
}
.banner {
  padding: rem-calc(20px) rem-calc(10px);
  margin: rem-calc(20px) 4vw;

  color: white;

  background-color: $accent;

  h2 {
    margin-bottom: 0;

    font-weight: 900;
  }
}
.dropdown.menu {
  > li.is-dropdown-submenu-parent > a {
    &::after {
      border-color: black transparent transparent;
    }
    &:hover::after {
      border-color: $accent transparent transparent;
    }
  }
  .is-dropdown-submenu {
    border: none;
  }
}
nav.breadcrumb-container {
  position: relative;

  display: block;
  margin: 0 0 1.5rem 1rem !important;
  &::after {
    position: absolute;
    top: 100%;
    right: 0;

    display: block;
    width: 100%;

    content: '';

    border-top: 1px solid #f5f5f5;
  }
  & > :first-child {
    position: relative;
    z-index: 1;

    display: inline-block;
    width: auto !important;
    padding-right: 1rem !important;

    background-color: #fff;
  }
  .breadcrumbs {
    padding: rem-calc(5px) 0;
    margin: 0 0 -20px 0;

    li {
      font-size: .85rem;
      font-weight: 500;
      &:not(:last-child)::after {
        content: '//';
      }
      a {
        color: black;
        &.active {
          color: #cacaca;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
.grid-container {
  .content {
    .card {
      background-color: white;

      &:hover {
        cursor: pointer;
        .card-section.text {
          background-color: $accent;
          & > p, p:first-of-type {
            color: white;
          }
        }
      }
      .card-section {
        position: relative;

        display: grid;

        -webkit-transition: all .1s ease-in-out;
                transition: all .1s ease-in-out;
        &.text {
          p {
            margin-bottom: 0;

            color: $accent;
            &:first-of-type {
              margin-top: .5rem;

              color: black;
            }
          }
        }
        img {
          width: auto;
          height: rem-calc(100px);
          margin: 0 auto;
        }
        .fi-wrapper {
          position: absolute;
          top: -1.4rem;
          left: calc(50% - 1.5rem);

          display: grid;
          width: 3rem;
          height: 3rem;
          margin: 0 auto;

          background-color: $accent;
          border: white solid 4px;
          border-radius: 50%;
        }
      }
    }
  }
}
.fi {
  color: white;
  font-size: 1.4rem;
}
// [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
//   box-shadow: none;
//   &:focus {
//     border-color: $accent;
//   }
// }
// .button, .button-group > .button {
//   &.primary {
//     background-color: $accent;
//     &:hover, &:focus {
//       background-color: scale-color($accent, $lightness: -15%);

//       cursor: pointer;
//     }
//     &[disabled], &.disabled {
//       background-color: $accent !important;
//     }
//   }
//   &.clear {
//     color: $accent;
//     &:hover, &:focus {
//       color: scale-color($accent, $lightness: -15%);
//     }
//     &[disabled], &.disabled {
//       color: $accent !important;
//     }
//   }
//   &.hollow {
//     color: $accent;

//     border: 1px solid $accent;
//     &:hover, &:focus {
//       color: scale-color($accent, $lightness: -15%);

//       border: 1px solid scale-color($accent, $lightness: -15%);
//     }
//     &[disabled], &.disabled {
//       color: $accent !important;
//     }
//   }
// }
.font-bolder {
  font-weight: 900 !important;
}
.text-accent {
  color: $accent;
}
.text-white {
  color: white;
}
.text-black {
  color: black;
}
.text-green {
  color: green;
}
.text-red {
  color: red;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}

.accent {
  background-color: $accent;
  &.light-1 {
    background-color: lighten($color: $accent, $amount: 20);
  }
}
.white {
  background-color: white;
}
.black {
  background-color: black;
  &.light-1 {
    background-color: lighten($color: black, $amount: 50);
  }
}
.orbit-caption, .orbit-controls > button {
  background-color: rgba(0, 0, 0, 1);
}
.orbit-controls > button {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
nav.orbit-bullets > button, .orbit-controls > button {
  transition: all ease-in-out .2s;
  &:focus, &:hover {
    outline: none;

    cursor: pointer;
  }
}
// nav.orbit-bullets {
//   background-color: rgba(255, 255, 255, 1);
// }

.tabs-content {
  border-right: 0;
  border-bottom: 0;
}
*:focus {
  outline: none;
}

.inputfile {
  position: absolute;
  top: 0;
  left: 0;

  padding: 0;
  margin: 0;

  font-size: 100px;

  opacity: 0;
  filter: alpha(opacity=0);
  &:hover {
    cursor: pointer;
  }
}
.inputfilewrapper {
  overflow: hidden;

// color: white;

  cursor: pointer;

  &:hover {
    cursor: pointer;
  }
}
.inputfile-name {
  cursor: default !important;
}
input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button {
  /* chromes and blink button */
  cursor: pointer;
}
select {
  margin: 0;
}

.ck-editor__editable_inline {
  min-height: 500px;
}
.callout {
  display: none;
}

.has-tip {
  display: inherit;

  border: inherit;

  cursor: pointer;
}
.input-group-label {
  color: white;

  background-color: $accent;
}
