<div class="grid-y tabs-panel" id="viewAllMembers">
  <div class="cell small-10 table-scroll">
    <table class="shadow unstriped">
      <thead>
        <tr class="shadow">
          <th class="text-uppercase">Name</th>
          <th class="text-uppercase">Email Address</th>
          <th class="text-uppercase">Address</th>
          <th class="text-uppercase">Telephone</th>
          <th class="text-uppercase">Admin Status</th>
          <th class="text-uppercase">Last Logged In</th>
          <th class="text-uppercase">Created On</th>
          <th *ngIf="authService.currentUserDoc.admin"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let user of accountService.allUsers$ | async">
          <tr *ngIf="user.address">
            <td>{{ user.firstName + ' ' + user.lastName | titlecase }}</td>
            <td>
              <a [href]="'mailto:' + user.email">{{ user.email }}</a>
            </td>
            <td>{{ accountService.addressFormatter(user.address) }}</td>
            <td>
              <a [href]="'tel:' + user.telephone">{{ user.telephone }}</a>
            </td>
            <td>
              <label *ngIf="authService.currentUserDoc.admin && user.uid !== authService.authUser.uid; else statusView">
                <select
                  id="{{ user.uid }}"
                  name="status"
                  (change)="accountService.updateAdminStatus($event, user.email)"
                  [value]="this.authService.currentUserDoc.admin"
                >
                  <option [value]="false" [selected]="user.admin === false">False&nbsp;</option>
                  <option [value]="true" [selected]="user.admin === true">True&nbsp;</option>
                </select>
              </label>
              <ng-template #statusView>
                {{ user.admin ? 'True&nbsp;' : 'False&nbsp;' }}
              </ng-template>
            </td>
            <td>{{ dateIfRecorded(user.lastLoggedIn) }}</td>
            <td>{{ dateIfRecorded(user.createdOn) }}</td>
            <td
              class="text-center"
              *ngIf="authService.currentUserDoc.admin && user.uid !== authService.authUser.uid; else empty"
            >
              <button
                class="button text-center margin-bottom-0 "
                (click)="accountService.deleteUser(user.uid)"
                type="button"
              >
                <!-- Screen readers will see "close" -->
                <span class="show-for-sr">Close</span>
                <!-- Visual users will see the X, but not the "Close" text -->
                <span aria-hidden="true"><i class="fi fi-trash"></i></span>
              </button>
            </td>
            <ng-template #empty>
              <td></td>
            </ng-template>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
