.current-sr {
  visibility: hidden;
  &.is-active {
    visibility: visible;
  }
}
#linksNews {
  color: black;

  h2 {
    font-weight: 900;

    background-color: #f5f5f5;
    span {
      display: inline-block;
      height: 100%;
      padding-right: .85rem;

      background-color: white;
    }
  }
}
