.current-sr {
  visibility: hidden;
  &.is-active {
    visibility: visible;
  }
}
#linksNews {
  color: black;

  background-color: transparent;
  h2 {
    font-weight: 900;

    background-color: rgba(245, 245, 245);

    span {
      display: inline-block;
      height: 100%;
      padding-right: .85rem;

      background-color: white;
    }
  }
}
