<div class="grid-container">
  <div class="grid-x banner shadow grid-margin-x align-center-middle">
    <div class="cell">
      <h2 class="text-uppercase text-center">All Manufacturers</h2>
    </div>
  </div>
  <div class="input-group margin-vertical-2">
    <span class="input-group-label"><i class="fi fi-magnifying-glass"></i></span>
    <input
      class="input-group-field"
      type="text"
      name="search"
      [(ngModel)]="searchText"
      autocomplete="off"
      placeholder="Start searching for a manufacturer by name"
    />
  </div>
  <div class="grid-x grid-margin-y grid-margin-x small-up-1 medium-up-3 large-up-5 align-stretch-spaced content ">
    <div class="cell" *ngFor="let category of categoryService.manufacturers | filter: searchText">
      <!-- image has padding -->
      <a *ngIf="category.text !== 'Castle Electronics UK  [ Service & Repairs Department ]';else castleElectronics" [routerLink]="['/shop-by-manufacturer', categoryService.linkUsed(category.text)]" routerLinkActive="active">
        <div class="grid-y card height-100 bordered shadow align-center">
          <div class="cell small-auto width-100 card-section align-middle">
            <img
              [lazyLoad]="category.src === '' ? '../../assets/img/No_image_available.svg' : category.src"
                        [defaultImage]="defaultImage"

              [alt]="category.alt"
            />
          </div>
          <div class="cell small-shrink width-100 card-section text">
            <p class="text-uppercase text-center align-self-middle font-bold">{{ category.text }}</p>
          </div>
        </div>
      </a>
      <ng-template #castleElectronics>
        <a href="http://www.hamradiosales.co.uk/CASTLE-1A.htm">
          <div class="grid-y card height-100 bordered shadow align-center">
            <div class="cell small-auto width-100 card-section align-middle">
              <img
                [lazyLoad]="category.src === '' ? '../../assets/img/No_image_available.svg' : category.src"
                          [defaultImage]="defaultImage"

                [alt]="category.alt"
              />
            </div>
            <div class="cell small-shrink width-100 card-section text">
              <p class="text-uppercase text-center align-self-middle font-bold">{{ category.text }}</p>
            </div>
          </div>
        </a>
      </ng-template>

    </div>
  </div>
</div>
