<div class="grid-container fluid">
  <div class="grid-x banner shadow grid-margin-x align-center-middle">
    <div class="cell">
      <h2 class="text-uppercase text-center ">Account Home</h2>
    </div>
  </div>
  <div class="grid-x grid-margin-x">
    <div class="cell small-12">
      <p>To <a [routerLink]="['/account/edit']">edit your account details please click here.</a></p>
    </div>
    <div class="cell medium-3">
      <ul class="vertical tabs" data-tabs id="account-tabs">
        <li
          *ngFor="let tabPanel of tabPanels; let isFirst = first"
          class="tabs-title"
          [ngClass]="{ 'is-active': isFirst }"
          (click)="updateCollection(tabPanel.collection)"
        >
          <a href="#{{ tabPanel.id }}" aria-selected="true">{{ tabPanel.name }}</a>
        </li>
      </ul>
    </div>
    <div
      class="cell"
      [ngClass]="{
        cell: true,
        'medium-9': true
      }"
    >
      <div class="tab-content" data-tabs-content="account-tabs">
        <app-my-orders></app-my-orders>
        <app-add-product></app-add-product>
        <app-add-manufacturer></app-add-manufacturer>
        <app-add-order></app-add-order>
        <app-view-all-orders></app-view-all-orders>
        <app-view-all-members></app-view-all-members>
        <app-update-news></app-update-news>
        <app-add-links></app-add-links>
        <!-- <app-custom-commands></app-custom-commands> -->
      </div>
    </div>
  </div>
</div>
